# Name: MyProject
# Author: Alberto Duina
# Version: 1.0
# Date: 2021/06/28
# Requires: ImageJ 1.53j
# Generate the jar file using: "jar cvfM jar_demo.jar *"
#
# Questo file assicura che ImageJ ci mostri i file, contenuti nel file jar, nel meu plugins,
# senza esssere costretti a mettere i vari underscore
#


Plugins>MyProject, "My_Pluginiw2ayv", MyPackage.My_Pluginiw2ayv
Plugins>MyProject, "MyClass", MyPackage.MyClass
Plugins>MyProject, "InverterSlow", MyPackage.MyImageInverterSlow
Plugins>MyProject, "InverterFast", MyPackage.MyImageInverterFast
Plugins>MyProject, "MyClassPluginFilterCalculations", MyPackage.MyPluginFilterWithCalculations1
Plugins>MyProject, "MyClassPluginFilterWithPixelAccess", MyPackage.MyPluginFilterWithPixelsAccess